/*
0 - 600px   Phone
600 - 900px Tablet portrait
900 - 1200px Tablet Landscape
1200 - 1800px Normal default styles apply
1800 + >>   Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
1em = 16px

ORDER: 

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

*, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: unset;
  padding: unset;
}

#container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
#container.container_japan {
  overflow-y: unset !important;
}

.nav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 80%;
  color: white;
  margin-left: 10%;
  font-family: "Cocogoose";
  padding-top: 50px;
}
.nav__logo {
  cursor: pointer;
  float: left;
  height: 50px;
  width: 50px;
}
.nav__logo img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.nav__burger {
  cursor: pointer;
  margin-top: 15px;
  float: right;
}
.nav__slide {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: 2;
  right: -100%;
  transition: all 0.35s ease-in-out;
}

.active {
  right: 0;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.bar1 {
  width: 25px;
  margin-left: 5px;
}
.bar2 {
  width: 20px;
  margin-left: 10px;
}

.bar0 {
  transform: translateY(-4px);
}

.bar2 {
  transform: translateY(4px);
}

.change .bar0 {
  transform: translateY(4px) rotateZ(-45deg);
  background-color: black;
}

.change .bar2 {
  transform: translateY(-6px) rotateZ(45deg);
  width: 30px;
  margin-left: 0;
  background-color: black;
}

.change .bar1 {
  opacity: 0;
  height: 7px;
}

.gallery {
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;
}
.gallery__image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-image: url("../images/japan.jpg");
  background-size: cover;
  background-position: center;
}
.gallery__content {
  width: 75%;
  text-align: center;
  position: relative;
}
.gallery__content-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery__content-header, .gallery__content-subheader {
  text-transform: uppercase;
}
.gallery__content-header {
  font-family: "DM Sans";
  font-size: 7.5rem;
  letter-spacing: 0.3rem;
  text-transform: unset;
}
.gallery__content-subheader {
  font-family: "Delio-trial";
}
.gallery__content-para {
  font-family: "DM Sans";
  font-size: 1.5rem;
  margin-top: 20px !important;
  width: 75%;
  margin: auto;
}

.information {
  width: 75%;
  margin-left: 12.5%;
}
.information h3 {
  font-size: 5rem;
}
.information p {
  font-size: 2rem;
  font-family: "DM Sans";
  margin-bottom: 20px;
}

.seemore {
  text-align: center;
  font-family: "DM Sans";
  position: absolute;
  bottom: 15%;
  width: 100%;
  color: white;
  font-weight: 100;
}
.seemore__outer {
  cursor: pointer;
  padding: 1.25rem 2.75rem;
  border: 1px solid white;
  display: inline-block;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.seemore__outer:hover {
  background-color: red;
}
.seemore__outer-header {
  letter-spacing: 2px;
  font-size: 0.7rem;
}

.slider {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  bottom: -100%;
  left: 0;
}

.liner {
  width: 75%;
  height: 1px;
  background-color: #ccc;
  margin: 6px 0;
}
.liner1 {
  margin: 6px 0 15px 15px;
}

.image_box {
  width: 100%;
  padding-top: 50%;
  margin: 15px 0;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.image_box0 {
  background-image: url("../images/j0.jpg");
}
.image_box1 {
  background-image: url("../images/j1.jpg");
}
.image_box2 {
  background-image: url("../images/j2.jpg");
}
.image_box3 {
  background-image: url("../images/i0.jpg");
}
.image_box4 {
  background-image: url("../images/i1.jpg");
}
.image_box5 {
  background-image: url("../images/i2.jpg");
}
.image_box6 {
  background-image: url("../images/t0.jpg");
}
.image_box7 {
  background-image: url("../images/t1.jpg");
}
.image_box8 {
  background-image: url("../images/t2.jpg");
}
.image_box9 {
  background-image: url("../images/v0.jpg");
}
.image_box10 {
  background-image: url("../images/v1.jpg");
}
.image_box11 {
  background-image: url("../images/v2.jpg");
}
.image_box12 {
  background-image: url("../images/p0.jpg");
}
.image_box13 {
  background-image: url("../images/p1.jpg");
}
.image_box14 {
  background-image: url("../images/p2.jpg");
}

.row {
  margin-top: 75px;
}
.row__image {
  margin: 40px 0;
}

.cities {
  color: red;
}

footer {
  height: 250px;
  width: 100%;
  margin-top: 75px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8)), url("../images/japan.jpg");
  background-image: url("../images/japan.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

#backtotop {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: white;
  box-shadow: 0px 0px 3px gray;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

@font-face {
  font-family: Sunday;
  src: url("../fonts/Sunday.ttf");
}
@font-face {
  font-family: Cocogoose;
  src: url("../fonts/Cocogoose.ttf");
}
@font-face {
  font-family: Sonder;
  src: url("../fonts/Sonder.otf");
}
@media only screen and (min-width: 500px) {
  .gallery__content-header {
    font-size: 9rem;
  }
  .gallery__content-para {
    font-size: 1.8rem;
  }

  .seemore__outer-header {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 575px) {
  .gallery__content-para {
    width: 75%;
    margin: auto;
  }
}
@media only screen and (min-width: 1060px) {
  .gallery__content-para {
    font-size: 2rem;
    width: 556px;
    margin: auto;
  }
}
.slick-content {
  font-size: 3rem;
  background-color: coral;
  border: 1px solid black;
  height: 50px;
}

.center {
  width: 100%;
  position: absolute;
  z-index: 299;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-active .gallery__content-header {
  transform: scale(1.3);
  transition: all 0.75s ease-in-out;
}

.slick-slide {
  cursor: grab;
}

.bgChangeJapan {
  animation: japanBG 1s;
}

.bgChangeIsrael {
  animation: israelBG 1s;
}

.bgChangeIsrael2 {
  animation: israelBG2 1s;
}

.bgChangeThailand {
  animation: thailandBG 1S;
}

.bgChangeThailand2 {
  animation: thailandBG2 1S;
}

.bgChangeVietnam {
  animation: vietnamBG 1s;
}

.bgChangeVietnam2 {
  animation: vietnamBG2 1s;
}

.bgChangeJordan {
  animation: jordanBG 1s;
}

@keyframes japanBG {
  0% {
    background-image: url("../images/israel.jpg");
  }
  50% {
    background-image: url("../images/japan.jpg");
  }
  100% {
    background-image: url("../images/japan.jpg");
  }
}
@keyframes israelBG {
  0% {
    background-image: url("../images/japan.jpg");
  }
  50% {
    background-image: url("../images/israel.jpg");
  }
  100% {
    background-image: url("../images/israel.jpg");
  }
}
@keyframes israelBG2 {
  0% {
    background-image: url("../images/thailand.jpg");
  }
  50% {
    background-image: url("../images/israel.jpg");
  }
  100% {
    background-image: url("../images/israel.jpg");
  }
}
@keyframes thailandBG {
  0% {
    background-image: url("../images/israel.jpg");
  }
  50% {
    background-image: url("../images/thailand.jpg");
  }
  100% {
    background-image: url("../images/thailand.jpg");
  }
}
@keyframes thailandBG2 {
  0% {
    background-image: url("../images/vietnam.jpg");
  }
  50% {
    background-image: url("../images/thailand.jpg");
  }
  100% {
    background-image: url("../images/thailand.jpg");
  }
}
@keyframes vietnamBG {
  0% {
    background-image: url("../images/thailand.jpg");
  }
  50% {
    background-image: url("../images/vietnam.jpg");
  }
  100% {
    background-image: url("../images/vietnam.jpg");
  }
}
@keyframes vietnamBG2 {
  0% {
    background-image: url("../images/jordan.jpg");
  }
  50% {
    background-image: url("../images/vietnam.jpg");
  }
  100% {
    background-image: url("../images/vietnam.jpg");
  }
}
@keyframes jordanBG {
  0% {
    background-image: url("../images/vietnam.jpg");
  }
  50% {
    background-image: url("../images/jordan.jpg");
  }
  100% {
    background-image: url("../images/jordan.jpg");
  }
}
.radial {
  background-image: radial-gradient(rgba(50, 50, 50, 0.3) 0%, black);
  height: 100%;
  width: 100%;
}

.floating {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 200%;
}

.float_japan {
  transform: translate(-50%, -50%) rotate(5deg);
}

.float_israel {
  transform: translate(-50%, -50%) rotate(25deg);
}

.slick-list {
  overflow: visible !important;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/*# sourceMappingURL=style.css.map */
